@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-neutral-950;
}

.marquee-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  min-width: 100%;
  gap: 2.5rem;
}

.marquee-container > img {
  flex-shrink: 0;
}